<br />
<div style="text-align:left">
    <h1>Proxies</h1>
    let darthVader  = {
      name: 'Darth Vader',
      side: 'dark',
      weapon: 'lightsaber'
    };
    <br /><br />
    Darth Proxy
    <br /><br />
    <div>darthVader.side is {{proxiesCtrl.vaderSide}}</div>
    <div>darthVader.weapon is {{proxiesCtrl.vaderWeapon}}</div>
    <br />
    <div>Set proxyVader.name = 'Anakin';</div>
    <br />
    <div>darthVader.name is {{proxiesCtrl.vaderName}}</div>
    <br />
    <div>Set proxyVader.side = 'light';</div>
    <br />
    <div>dartVader.side is {{proxiesCtrl.vaderNewSide}}</div>
 </div>
